    body {
      overflow: hidden;
      background-color: #FFF;
      height: 100vh;
      /*margin-top:15%;*/
      display: grid;
      grid-template-columns: 40px 1fr 40px;
      grid-template-rows: 5% 10% 1fr 10%;
    }

    #wfp {
      grid-column: 2;
      grid-row: 2;
    }
    /* #message {
      grid-column: 2;
      grid-row: 3;
    }*/

    #playernames {
      grid-column: 2;
      grid-row: 3;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      font-size: 70%;
    }

    div {
      /*height:100%;
        width:100%;
        text-align:center;
        border:0px solid silver;
        display: table-cell;
        vertical-align:middle;
        color:#1e1e1e;
        background-color:#FFF;
        font-weight:bold;
        font-family:Verdana, Geneva, sans-serif;
        font-size:40px;*/
      text-align: center;
      font-size: 300%;
      font-weight: 700;
      text-transform: uppercase;
      background-color: #FFF;
      color: #1e1e1e;
      font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }